<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">


<h2> What tag do you want to add to your picture? </h2>

<%= form_for Tag.new do |f| %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
