<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">


<h2> Pictures! </h2>
<ul>
<% @pictures.each do |picture| %>
  <div><p id="picname"><%= picture.title %> - <%= link_to User.find_by(id: picture.user_id).username, user_path(picture.user_id) %> </p></div>
  <%= link_to (image_tag (picture.image_url)), picture %>
<% end %>
</ul>
