<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">


<h2> Pictures! </h2>
<ul>
<% @pictures.each do |picture| %>
  <div><p id="picname"><%= picture.title %> </p></div>
  <%= link_to (image_tag (picture.image_url)), picture %>
<% end %>
</ul>
