<h2><%= @picture.title %> </h2><br>
<p>url: <%= @picture.image_url %></p>
<br>
<br>
<p>Comments:</p><br>
<ul>
  <% @comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
</ul>
<br>
<%= button_to('Add a comment!', 'comments#new', method: :get) %>
