body {
	font-family: Arial;
}

#topper {
	color: blue;
	font-size: 1.3em;
	margin-top: 10%;
}

.button {
	background-color: white;
	border: 1px dotted black;
}

.buttons {
	background-color: white;
	border: 1px dotted black;
}

.buttons:hover {
	background-color: gray;
}

p {
	text-align: center;
	color: #42f4d7;
}

#container {
	margin: auto;
	text-align: center;
	display: block;
}