#topper {
	color: blue;

	padding-top: 5%;
	font-family: Helvetica;
	font-size: 1.3em;
}

button {
	background-color: white;
	border: 1px dotted black;
}

.buttons {
	background-color: white;
	border: 1px dotted black;
}

.buttons:hover {
	background-color: gray;
}

p {
	text-align: center;
	font-family: Helvetica;
	color: #42f4d7;
}

#container {
	margin: auto;
	text-align: center;
	display: block;
}