#form {
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 14%;
}

#header-new {
	font-size: 1.5em;
	margin-top: 15%;
	font-family: Helvetica;
	color: blue;
}

p {
	text-align: center;
	font-family: Helvetica;
	color: #42f4d7;
}

#front_page{
	margin: auto;
	margin-top: 10%;
  padding-bottom: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#header { 
	text-align: center;
	font-family: Helvetica;
	color: #42f4d7;
	padding-top: 15px;
	font-size: 1.5em;
  padding-bottom: 1px;
}

.text {
	text-align: center;
	font-family: Helvetica;
	color: blue;
}

.button {
	background: white;
	border: dotted 1px black;
}

.button:hover {
	background-color: gray;

}

#no_pictures {
	display: block;
	margin: auto;
	color: blue;
	font-family: Helvetica;
	text-align: center;
	padding-top: 20%;
}