#front_page{
	margin: auto;
	margin-top: 10%;
  padding-bottom: 10px;
  width: 50%;
  text-align: center;
}

#header {
	text-align: center;
	color: blue;
	font-size: 1.5em;
  padding-bottom: 1px;
  margin-bottom: 30px;
  font-family: Arial;
  font-weight: bold;
}

#navbar #welcome {
	float: right;
	margin-right: 30px;
}

.text {
	text-align: center;
	color: #42f4d7;
	font-family: Arial;
}

#bottom-button {
	margin-bottom: 40px;
}

.button {
	background: white;
	border: dotted 1px black;
}

.button:hover {
	background-color: gray;
}

#alert {
	font-family: Arial;
	color: #42f4d7;
	text-align: center;
}