#signup-head p {
	color: blue;
	font-family: Helvetica;
	font-size: 1.5em
}

#signup-block {
	margin: auto;
	display: block;
	text-align: center;
	margin-top: 14%;
}

#signup-block button {
	background-color: white;
	border: 1px dotted black;
}

#signup p {
	font-family: Helvetica;
	font-size: 16px;
	color: #42f4d7; 
}

img {
	display: block;
	margin: auto;
	text-align: center;
}

#pics {
	margin: auto;
	display: block;
	text-align: center;
	margin-top: 50px;
}

#pic ul {
	margin: auto;
	display: block;
	text-align: center;
}

#pic li {
	margin: auto;
	display: block;
	text-align: center;
}

img {
	width: 650px;
	padding-top: 15px;
	padding-bottom: 15px; 
}

#navbar {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: #42f4d7 dashed 1px;
	text-decoration: none !important;
}

#navbar ul {
	list-style-type: none;
}

#navbar li a {
	font-size: 1em;
	color: blue;
	font-family: Helvetica;
	list-style-type: none;
	float: left;
	display: block;
	text-align: center;
	text-decoration: none !important;
	list-style-type: none;
	margin-bottom: 15px;
	margin-right: 15px;
}

#navbar li {
	font-size: 1em;
	color: blue;
	font-family: Helvetica;
	list-style-type: none;
	float: left;
	display: block;
	text-align: center;
	text-decoration: none !important;
	list-style-type: none;
	margin-right: 15px;
}

#navbar #welcome {
	float: right;
	margin-right: 62px;
}

#navbar li a:visited {
	font-size: 1em;
	color: blue;
	font-family: Helvetica;
	list-style-type: none;
	float: left;
	display: block;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 20px;
	border-bottom: dotted 1px blue;
	text-decoration: none !important;
}

#navbar li a:active {
	text-decoration: none !important;
	color: #42f4d7;
}

#button {
	background-color: white;
	border: 1px dotted black;
}

button {
	background-color: white;
	border: 1px dotted black;
}